* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 60px;
    gap: 115px;
    position: absolute;
}

nav {
    display: flex;
    gap: 70px;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: var(--text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.containerSearch {
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    position: relative;
    background-position: 3% 50%;
    
    border-radius: 4px;
    background-color:#fff;
}

.pesquisa {
    width: 220px;
    height: 45px;
    margin-left: 35px;
    border: none;
    outline: none;
}

.infoProduct {
    display: flex;
    font-family: "Roboto", sans-serif;
}

.description {
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    width: 860px;
    height: 914px;
    padding: 190px 70px 0px;
    gap: 20px;
}

.description h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-wrap: nowrap;
}

.description p {
    color: var(--text-description);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description strong {
    color: var(--text);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.description button {
    width: 274px;
    height: 90px;
    background-color: var(--button);
    border: none;
    outline: none;
    
    color: var(--background);
    font-family: "Roboto", sn;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.containerMain {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.tenisampliado {
    margin-top: 160px;
}

.tenisMenores {
    display: flex;
    gap: 15px;
}

footer {
    display: flex;
    align-items: center;
    gap: 45px;
    font-family: "Roboto", sans-serif;
}

.socialLinks {
    display: flex;
    gap: 90px;
    
}

.socialLinks a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.explorar {
   background-color: var(--footer);
   width: 437px;
   height: 166px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 75px;
}

.explorar a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}